{% extends 'base.html' %}
{% block content %}
	<nav class="navbar is-fixed-top">
		<div class="navbar-start">
						<div class="navbar-item">Padam Sethia</div>
		<div class="navbar-end">
			<div class="navbar-item">Writer at night.</div>

		</div>
		</nav>


			<div class="hero blog is-centered">
				<div class="hero-body ">

					<div class="blogls">
		
					{% for page in pages %}
						<div class="b-link">
						<h3 class="is-size-3 is-fullwidth"><a href="{{ url_for('page' , path=page.path )}}">{{ page.title }}</a></h3>
					</div>
					
					{% else %}
								<h3 class="is-size-3">No current thoughts.</h3>
					{% endfor %}
					</div>
					</div>
			</div>

		<nav class="navbar is-fixed-bottom">
		<div class="navbar-start">
			<div class="navbar-item">About</div>

			<div class="navbar-item">Dribbble</div>

			<div class="navbar-item">Twitter</div>
		</div>
		<div class="navbar-end">

			<div class="navbar-item" >BUILT WITH <a style="font-weight: 600;display: inline-block;" href="https://github.com/padamsethia/flake">flake</a>.<div>
		</div>
		</nav>
{% endblock content %}

