body{
	margin-top : 30px;
	margin-bottom : 30px;
	margin-left : 25px;
	margin-top : 25px;

	color: black !important;
    font-family: 'Karla', sans-serif;
}

.is-fixed-top{
margin-top : 30px;
	margin-bottom : 30px;
	margin-left : 25px;
	margin-top : 25px;
	font-size: 24px;
    font-family: 'Karla', sans-serif;
	font-weight: 400;

}

.is-fixed-bottom{
margin-top : 20px;
	margin-bottom : 20px;
	margin-left : 15px;
	margin-top : 15px;
	font-size: 21px;
    font-family: 'Karla', sans-serif;
	font-weight: 500;

}



.blog{
	padding: 0 0 100px;
max-width: 640px;
margin: 70px auto;

}

.blogls h3{

font-family: 'Karla', sans-serif;
	font-weight: 900;
	color: black;
		padding-top: 10px;
		padding-bottom: 10px;

}

.blogls a{
	color: black;
	padding: 10px;
		padding-top: 20px;
		padding-bottom: 20px;


}

.b-link{
			border-bottom: 1px solid rgba(0,0,0,0.05);

}

.content{
	padding-top: 50px;
}

.date{
	color: rgb(74, 74, 74);
}

a{
	color: black !important;
		transition: 0.1s all ease;

}

a:hover{
	opacity: 0.4;
}