body{
	margin-top : 30px;
	margin-bottom : 30px;
	margin-left : 25px;
	margin-top : 25px;

	color: black !important;
    font-family: 'Karla', sans-serif;
}

.is-fixed-top{
margin-top : 30px;
	margin-bottom : 30px;
	margin-left : 25px;
	margin-top : 25px;
	font-size: 24px;
    font-family: 'Karla', sans-serif;
	font-weight: 400;

}

.is-fixed-bottom{
margin-top : 20px;
	margin-bottom : 20px;
	margin-left : 15px;
	margin-top : 15px;
	font-size: 21px;
    font-family: 'Karla', sans-serif;
	font-weight: 500;

}



.blog{
	padding: 0 0 100px;
max-width: 640px;
margin: 70px auto;

}

.blogls h3{

font-family: 'Karla', sans-serif;
	font-weight: 900;
	color: black;
	padding: 10px;
		padding-top: 10px;
		padding-bottom: 10px;

}

.blogls a{
	color: black;
	padding: 10px;
		padding-top: 20px;
		padding-bottom: 20px;


}

.b-link{
			border-bottom: 1px solid rgba(0,0,0,0.05);

}

.blogls a::after{
	content: '';
    display: block;
    height: 5px;
    position: absolute;
    top: 50%;
    width: 0;
    pointer-events: none;
    -webkit-transition: all .2s cubic-bezier(.15,.9,.34,.95);
    transition: all .2s cubic-bezier(.15,.9,.34,.95);
}

.blogls a::after{
	background: #ffdd00;
}