{% extends 'base.html' %}
{% block content %}
	<div class="columns animated fadeInUp">
				<div class="is-two-thirds-tablet is-one-third-desktop intro column">
					<h1 class="is-size-4">
						Hello, I'm Padam Sethia, a Computer Science &amp; Engineering student at SRM University , India. <br>
						Interested in Machine Learning , Big Data and software development.
						<br>
						<br>
						Connect with me on <a href="https://www.instagram.com/padamsethia/">Instagram</a>, <a href="https://twitter.com/syncbo">Twitter</a>, <a href="https://www.facebook.com/padam.sethia.3">Facebook</a>, <a href="https://github.com/PadamSethia">Github</a>, <a href="https://dribbble.com/syncbo">Dribbble</a> &amp; <a href="https://www.linkedin.com/in/padam-sethia-818b5297">Linkedin</a>. Or contact me via <a href="mailto:padamsethia5@gmail.com">mail</a>.
					</h1>
				</div>
			</div>
			<div class="more columns animated fadeInUp">
				<!-- Work -->
				<div class="work column is-half-desktop">
					<h2 class="is-size-4">
						Projects
					</h2>
					<div class=" workls columns is-6 is-multiline">

						<div class="work-m column is-one-half-tablet">
							<p class="wrk is-size-6">PROJECT - COMPLETED</p>
							<br>
							<h3 class="is-size-3 "><a class="plnk" href="https://github.com/PadamSethia/shorty">Shorty</a>:</h3>
							<h4 class="is-size-3 ">URL Shortner</h4>
							<br>
							<br>	
							<p class="is-size-4">URL shortening service built for <a href="" class="alnk">Mobikwik</a> , with flask.</p>
							<br>
							<br>
							<br>
							<a class="is-size-5 read nbtn" href=""><strike>Read all</strike> <i class="material-icons" >keyboard_arrow_right</i></a>
						</div>

						<div class="work-m column is-one-half-desktop">
							<p class="wrk is-size-6">PROJECT - COMPLETED</p>
							<br>
							<h3 class="is-size-3 "><a class="plnk" href="https://github.com/fumen/kihon">Fumen</a>:</h3>
							<h4 class="is-size-3 ">Music Streaming</h4>
							<br>
							<br>	
							<p class="is-size-4">Music streaming service built with flask in python.</p>
							<br>
							<br>
							<br>
							<a class="is-size-5 read nbtn" href=""><strike>Read all</strike> <i class="material-icons" >keyboard_arrow_right</i></a>
						</div>
						
						<div class="work-m column is-one-half-desktop">
							<p class="wrk is-size-6">PROJECT - COMPLETED</p>
							<br>
							<h3 class="is-size-3 "><a class="plnk" href="https://github.com/PadamSethia/locomodo">Locomodo</a>:</h3>
							<h4 class="is-size-3 ">Jaunting App</h4>
							<br>
							<br>	
							<p class="is-size-4">Mood Based jaunting app built during Mozilla Hackathon.</p>
							<br>
							<br>
							<br>
							<a class="is-size-5 read nbtn" href=""><strike> Read all</strike> <i class="material-icons" >keyboard_arrow_right</i></a>
						</div>

						<div class="work-m column is-one-half-desktop">
							<p class="wrk is-size-6">PROJECT - COMPLETED</p>
							<br>
							<h3 class="is-size-3 "><a class="plnk" href="https://github.com/PadamSethia/go360">go360</a>:</h3>
							<h4 class="is-size-3 ">Ubuntu Indicator-plugin</h4>
							<br>
							<br>	
							<p class="is-size-4">Lets you disable peripherals like touchscreen , keyboard &amp; touchpad.</p>
							<br>
							<br>
							<br>
							<a class="is-size-5 read nbtn" href=""><strike>Read all</strike> <i class="material-icons" >keyboard_arrow_right</i></a>
						</div>

						<div id="un" class="work-m column is-one-half-desktop">
							<p class="wrk is-size-6">PROJECT - CURRENTLY BUILDING</p>
							<br>
							<h3 class="is-size-3 "><a class="plnk" href="https://github.com/PadamSethia/flake">flake</a>:</h3>
							<h4 class="is-size-3 ">Static-site generator</h4>
							<br>
							<br>	
							<p class="is-size-4">Create static-sites with automatic deployments. </p>
							<br>
							<br>
							<br>
							<a class="is-size-5 read nbtn" href=""><strike>Read all</strike> <i class="material-icons" >keyboard_arrow_right</i></a>
						</div>

						<div id="un" class="work-m column is-one-half-desktop">
							<p class="wrk is-size-6">PROJECT - CURRENTLY BUILDING</p>
							<br>
							<h3 class="is-size-3 "><a class="plnk" href="https://github.com/PadamSethia/hafta">Hafta</a>:</h3>
							<h4 class="is-size-3 ">Invoicing App</h4>
							<br>
							<br>	
							<p class="is-size-4">Open source invoicing webapp for firms.</p>
							<br>
							<br>
							<br>
							<a class="is-size-5 nbtn read" href=""><strike> Read all </strike><i class="material-icons" >keyboard_arrow_right</i></a>
						</div>

						<div id="un" class="work-m column is-one-half-desktop">
							<p class="wrk is-size-6">PROJECT - CURRENTLY BUILDING</p>
							<br>
							<h3 class="is-size-3 "><a class="plnk" href="https://github.com/PadamSethia/lumberjack">Lumberjack</a>:</h3>
							<h4 class="is-size-3 ">Log Analysis</h4>
							<br>
							<br>	
							<p class="is-size-4">Real time log analysis with spark.</p>
							<br>
							<br>
							<br>
							<a class="is-size-5 nbtn read" href=""><strike>Read all </strike><i class="material-icons" >keyboard_arrow_right</i></a>
						</div>

						<div id="un" class="work-m column is-one-half-desktop">
							<p class="wrk is-size-6">PROJECT - CURRENTLY BUILDING</p>
							<br>
							<h3 class="is-size-3 "><a class="plnk" href="https://github.com/PadamSethia/AwesomeSpeakers">AwesomeSpeakers</a>:</h3>
							<h4 class="is-size-3 ">Smart IoT Speakers</h4>
							<br>
							<br>	
							<p class="is-size-4">Smart speaker system built with Raspberry Pi and flask.</p>
							<br>
							<br>
							<br>
							<a class="is-size-5 nbtn read" href=""><strike>Read all</strike> <i class="material-icons" >keyboard_arrow_right</i></a>
						</div>

					</div>
				</div>
				<!-- Thoughts -->
				
			</div>
			<div class="blog columns animated fadeInUp ">
				<div class="column is-half-desktop">
					<h2 class="is-size-4" style="margin-bottom: 25px;">
						Thoughts
					</h2>

					{% for page in pages %}

					<div class="columns blogls is-multiline">
						
						<div class="column date is-one-quarter-desktop">
							<p class="date is-size-5">{{ page.date }}</p>
						</div>
						<div class="column is-three-quarters-desktop post">
							<h3 class="is-size-4"><a href="{{ url_for('page' , path=page.path )}}">{{ page.title }}</a></h3>
						</div>
						
					</div>
					{% else %}
								<h3 class="is-size-4">No current thoughts.</h3>
						{% endfor %}
					</div>
				</div>
{% endblock content %}